body{
  background-color: #fff;
}

.navbar{
  margin: 0;
  height: auto;
  border-radius: 0;
  background-color:rgba(255, 255, 255, 0.3);
  position: fixed;
  width: 100%;
  z-index: 1;
  border: none;
}

.menuEffect{
  background:rgba(0, 0, 0, 0.3);
}

.backgroundMenu{
  background-color: blue;
}

.navbar-default{
  color: #fff;
}

.navbar-right{
  text-align: center;
}

.glyphicon-home, .glyphicon-book, .glyphicon-pencil{
  position: relative;
  margin-top: 20px;
  color: #fff;
}

.navbar-right ul li a:hover{
  cursor: pointer;
  color: #fff;
}

/* img_cover */

.img_cover{
  height: 700px;
  width: 100%;
  background: url('../img/cover.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.backgroud-cover{
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.2;
}

/* end img_cover*/

.main_content{
  height: 800px;
}

/* Menu */

.navbar-default .navbar-nav>li>a , .navbar-default .navbar-nav>li>a:visited  {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

/* Fim menu */

/* .content_show */

.content_show{
  height: auto;
  width: 100%;
  background-image: url('../img/midle.jpg');
  padding: 40px;
}

.display_info{
  background-color: rgba(0,255,255,0.6);
  height: 256px;
  color: #fff;
  font-weight: 900;
  font-size: 20px;
  padding-top: 50px;
  padding-left: 20px;
}

.dsplay_form{
  text-align: center;
  height: auto;
  font-weight: 900;
  font-size: 20px;
  color: #000;
  background-color: #fff;
  padding: 20px;
}

.form-register{
  height: 100%;
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding-top: 12px;
}

/* .content_show */
