body{
  background-color: #ccc;
}

.navbar{
  margin: 0;
  height: auto;
  border-radius: 0;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 1;
  border: none;
}

.menuEffect{
  background-color: #fff;
}

.backgroundMenu{
  background-color: blue;
}

.navbar-default{
  color: #fff;
}

.navbar-right{
  text-align: center;
}

.glyphicon-home, .glyphicon-book, .glyphicon-pencil{
  position: relative;
  margin-top: 20px;
  color: #fff;
}

.navbar-right ul li a:hover{
  cursor: pointer;
  color: #fff;
}

/* img_cover */

.img_cover{
  height: 700px;
  width: 100%;
  background: url('../img/cover.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-bottom: 1px solid rgba(0,0,0,0.9);
}

.backgroud-cover{
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
}

/* end img_cover*/

.main_content{
  height: 800px;
}

/* Menu */

.navbar-default .navbar-nav>li>a , .navbar-default .navbar-nav>li>a:visited  {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

/* Fim menu */
