RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_URI} index\.php
RewriteRule ^(.*)index\.php$ /$1 [R=301,L]

#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/ [R=301,L,QSA]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
                RewriteRule detalhes/([a-z,0-9,A-Z,_-]+)/ detalhe.php?url=$1
                RewriteRule detalhes/([a-z,0-9,A-Z,_-]+) detalhe.php?url=$1

                
                